.wrapper {
	border: 2px solid #ccc;
	margin: 0 auto;
	max-width: 50%;
	padding: 40px;
}
.btn {
	line-height: 36px;
	font-size: 18px;
	outline: 0;
	cursor: pointer;
	height: 40px;
	width: 200px;
	display: block;
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	margin-bottom: 20px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.btn:hover {
	color: #fff;
}
.btn-send {
	border-color: blue;
	color: blue;
}
.btn-send:hover {
	background-color: blue;
}
.btn-reject {
	border-color: red;
	color: red;
}
.btn-reject:hover {
	background-color: red;
}
.btn-resend {
	border-color: green;
	color: green;
}
.btn-resend:hover {
	background-color: green;
}
.result {
	width: 
}
.result__pict {
	max-width: 300px;
}
.error {
	color: red;
}
